@import '../../styles/sass-standards.scss';

.header {
    top: 0;
    right: 0;
    width: 85%;
    height: 7%;
    background-color: $header;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    border-bottom: 1px solid rgba(0,0,0,.1);

    .header-left {
        float: left;
        font-size: 25px;
        font-weight: bold;
        position: relative;
        margin-left: 2%;
        @include middle();
        display: flex;

        .menu {
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

            @media #{$desktop-size} {
                display: none;
            }

            @media #{$tablet-size} {
               display: block;
               margin-right: 20%;
            }

            @media #{$phone-size} {
                display: block;
                margin-right: 20%;
             }
        }
    }

    .header-right {
        float: right;
        position: relative;
        margin-right: 2%;
        @include middle();
        display: space;

        input {
            display: none;

            &:checked~ul.submenu {
                max-height: 300px;
            }
        }

        ul.submenu {
            max-height: 0;
            overflow: hidden;
            list-style-type:none;
            transition: max-height 0.8s ease-out;
            position:fixed;
            background-color: rgb(230, 230, 230);
            border-radius: 10px;
            top: 0;
            right: 0;
            min-width: 100%;
            margin-top: 140%;
            padding: 0;

            li{
                a {
                    display:block;
                    padding: 12px;
                    text-decoration:none;
                    color: black;
                    white-space:nowrap;
                }

                &:hover {
                    background-color: rgb(197, 197, 197);
                }

                &:last-child {
                    border-top: 1px rgb(100, 98, 98) solid;
                }
            }
        }

        label {
            float: left;
            line-height: 25px;
            cursor: pointer;
        }
    }

    @media #{$tablet-size} {
        width: 100%;
    }

    @media #{$phone-size} {
        width: 100%;
        height: 15%;
    }
}