$primary: #fff;
$secondary: '';
$header: hsla(0,0%,100%,.96);
$aside: #000;
$background: #F7F7F8;
$aside-hover: #585858;
$btn-success: #2ecc71;
$btn-primary: #3498db;
$btn-danger: #e74c3c;
$btn-alert: #f1c40f;