@import '../../styles/sass-standards.scss';

@mixin slide-left {
    animation: slide-in 0.4s ease-in;
}

@mixin slide-right {
    animation: slide-out 0.4s ease-out;
}

@keyframes slide-in {
    0% {
        transform: translateX(-500px)
    }
    100% { 
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%)
    }
    100% { 
        transform: translateX(-500px);
    }
}

.sidebar {
    display: flex;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: $aside;
    position: fixed;
    text-align: center;
    flex-direction: column;
    display: flex;

    a {
        text-decoration: none;
        color: black;
    }

    .brand {
        height: 7%;
        background-color: $aside;
        border-bottom: 1px solid hsla(0,0%,100%,.2);
        width: 100%;
        display: table;

        .name {
            font-size: 25px;
            text-align: center;
            color: white;
            transition: transform .2s;
            display: table-cell;
            vertical-align: middle;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        @media #{$phone-size} {
            .close {
                position: fixed;
                right: 0;
                top: 0;
                width: 8%;
                height: 10%;
                margin-right: 3%;
            }

            .close:hover {
                opacity: 1;
            }

            .close:before, .close:after {
              position: absolute;
              left: 15px;
              content: ' ';
              height: 50%;
              width: 2px;
              background-color: #fff;
              opacity: 0.5;
            }
            .close:before {
              transform: rotate(45deg);
            }
            .close:after {
              transform: rotate(-45deg);
            }
        }
    }

    .side-item {
        height: 6%;
        margin: 5%;
        width: 90%;
        border-radius: 5px;
        display: table;

        .active {
            background-color: $aside-hover;
        }

        &:hover:not(.active) {
            background-color: $aside-hover;
        }

        .side-content {            
            display: table-cell;
            vertical-align: middle;
            text-align: start;
            font-size: 20px;
            color: white;

            .image {
                margin-left: 1%;
                position: fixed;
                
                @media #{$phone-size} {
                    margin-left: 20%;
                }
            }

            .text{
                margin-left: 30%;
            }  
                      
        }

        @media #{$tablet-size} {
            height: 10%;
            margin: 5%;
            float: none;
        }
        
        @media #{$phone-size} {
            height: 20%;
            margin: 5%;
            float: none;
        }
    }

    @media #{$tablet-size} {
        display: none;
        &.active {
            display: block !important;
            width: 50%;
            height: 100%;
            position: fixed;
            z-index: 3;
            @include slide-left;            
        }

        &:not(.active) {
            @include slide-right;
        }
    }

    @media #{$phone-size} {
        display: none;
        &.active {
            display: block !important;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 3;
            @include slide-left;
        }

        &:not(.active) {
            @include slide-right;
        }
    }
    
}